# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Visual Studio files
.vscode/
.vs/

# Configs
appsettings.json
.env

# Docker files
docker-compose.override.yml
